/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.contact-form {
  background-color: #d9e7f2;
  padding: 40px 0;
}

.everest-forms .evf-frontend-row input,
.everest-forms .evf-frontend-row select,
.everest-forms .evf-frontend-row textarea {
  background: #b9d2e7;
  border: none;
  font-size: 20px;

  &::placeholder {
    opacity: 1;
    color: black;
  }
}

.everest-forms .evf-submit {
  background: #b9d2e7;
}

.everest-forms .evf-frontend-row label {
  font-size: 20px;
}
