.genres {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 0.2s ease-out;

  .genre-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 50%;
  }

  &.open {
    max-height: none;
  }
}

@include media-breakpoint-up(lg) {
  .genres {
    .genre-image {
      padding-bottom: 50%;
    }
  }
}
