footer.content-info {
  background-color: #d9e4d9;
  padding-top: 40px;

  h3 {
    border-top: 1px solid #004a03;
    border-bottom: 1px solid #004a03;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
