/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc,
  background: #d9e7f2,
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$grey-fade: rgba(217, 217, 217, 0.5);
$blue-fade: rgba(0, 93, 170, 0.15);
$green-fade: rgba(0, 74, 3, 0.15);

$green: rgb(0, 74, 3);
$blue: rgb(0, 93, 170);
$grey: rgb(217, 217, 217);

